{% extends 'base.html' %}

{% block title %}
<title>О нас</title>
{% endblock %}

{% block body %}
{% include 'header.html' %}
<div class="bradcam_area breadcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcam_text text-center">
                        <h3>О нас </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pet_care_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="pet_thumb">
                        <img src="../static/img/about/gon_care.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-6">
                    <div class="pet_info">
                        <div class="section_title">
                            <h3><span>Относитесь с добротой к братьям нашим меньшим  </span> <br>
                                </h3>
                            <p></p>
                            <a href="/about" class="boxed-btn3">О нас </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-6 col-md-10">
                    <div class="section_title text-center mb-95">
                        <h3>Наша каманда </h3>
                        <p>Опытные специалисты со всей России .</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="../static/img/team/1.png" alt="">
                        </div>
                        <div class="member_name text-center">
                            <div class="mamber_inner">
                                <h4>Ирина Иванова </h4>
                                <p>Директор </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="../static/img/team/2.png" alt="">
                        </div>
                        <div class="member_name text-center">
                            <div class="mamber_inner">
                                <h4>Сергей Богатырев </h4>
                                <p>Дрессировщик</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="../static/img/team/3.png" alt="">
                        </div>
                        <div class="member_name text-center">
                            <div class="mamber_inner">
                                <h4>Виктория Башина </h4>
                                <p>Ветеренар</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="contact_anipat anipat_bg_1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact_text text-center">
                        <div class="section_title text-center">
                            <h3>Делайте Добро</h3>
                            <p>Добро возращается в большем размере </p>
                        </div>
                        <div class="contact_btn d-flex align-items-center justify-content-center">
                            <a href="/contact" class="boxed-btn4">Связь</a>
                            <p>Тел.  <a href="#"> +79197980029</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'footer.html' %}
{% endblock %}