<footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Контакты
                            </h3>
                            <ul class="address_line">
                                <li>+7919790029</li>
                                <li><a href="#">zyuzin_2018@mail.ru</a></li>
                                <li>Россия,Волгоград</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Наши услуги
                            </h3>
                            <ul class="links">
                                <li><a href="#">Стрижка питомц</a></li>
                                <li><a href="#">Мойка питомца </a></li>
                                <li><a href="#">Услуги грумира</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">

                            </h3>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="../static/img/logo.png" alt="">
                                </a>
                            </div>
                            <p class="address_text">

                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class=""></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class=""></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class=""></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class=""></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="bordered_1px"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>